services:
  dev:
    profiles:
      - dev
    build:
      context: .
      target: dev
    environment:
      CHOKIDAR_USEPOLLING: true
    ports:
      - "5173:5173"
    volumes:
      - type: bind
        source: .
        target: /app
      - type: volume
        source: node_modules
        target: /app/node_modules
  preview:
    profiles:
      - preview
    build:
      context: .
      target: preview
    ports:
      - "4173:4173"
    volumes:
      - type: volume
        source: node_modules
        target: /app/node_modules
volumes:
  node_modules:
